@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400&display=swap');
:root{
    --pink:#FF046F;
    --violet:#C63BFA;
}
*{
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
    margin:0;
    padding:0;
    box-sizing: border-box;

}
*::selection{
    background:var(--pink);
    color:#fff;
}
html{
    font-size:62.5%;
    overflow-x:hidden;
}
body{
   /* background: #333;*/
    height:3000px;
}
.heading{
    font-size:4rem;
    color:var(--pink);
    text-align: center;
    padding:0 1rem;
    padding-top:6rem;
    letter-spacing: .2rem;
    font-weight: 500;
}
header{
    width:98%;
    background:#fff;
    position:fixed;
    top:2rem;left:50%;
    transform:translate(-50%);
    border-radius: 5rem;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:1rem 2rem;
    z-index:1000;
    transition: .2s;
}
.header-active{
    top:0;
    width:100%;
    border-radius: 0;
    box-shadow:0 .1rem .3rem rgba(0,0,0,.3);
}
header .navbar ul{
    display:flex;
    align-items:center;
    justify-content: space-between;
    list-style: none;
}
header .navbar ul li{
    margin:0 2rem;
}
header .navbar ul li a{
    font-size:2rem;
    color:var(--pink);
    transition:.2s;
}
header .navbar ul li a:hover{
    color:var( --violet);
}
header .logo img{
width:25%;
border-radius: 10%;
}
header .fa-bars{
    font-size:3rem;
    color:var(--pink);
    cursor:pointer;
    display:none;
}
/*home section */
.home{
    min-height:100vh;
    background:linear-gradient(rgba(198, 59, 250, 0.8),rgba(198, 59, 250, 0.8)),url(photo/ABHYUDAYA.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index:0;
    overflow: hidden;
    position: relative;
}
.home .contents{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-top: 20rem;
    padding-bottom: 8rem;
    text-align: center;
}
.home .contents h1{
  font-size:6rem;
  color:#fff;
  padding:0 5rem;
  text-shadow: 0 .3rem .5rem rgba(0,0,0,.3);  
  text-transform: capitalize;
} 
 /*.home .contents p{
    font-size: 2.5rem;
    color:black;
    padding:1rem 25rem;
}*/
.home .contents button{

    height:4rem;
    width:20rem;
    border-radius: 5rem;
    background: var(--pink);
    color:#fff;
    font-size: 2rem;
    cursor: pointer;
    transition: .2s;
    border: none;
    box-shadow: 0 .3rem .1rem rgba(0,0,0,.3);
}
.home .contents button:hover{
    letter-spacing: .2rem;
    opacity: 0.8;
}
.home .box-container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.home .box-container .box{
    height:35rem;
    width:45rem;
    padding:1rem;
    background: #fff;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.5);
    margin:2rem;
    cursor:pointer;
}
.home .box-container .box img{
    height:12rem;
    width:12rem;
    border-radius: 50%;
    color:#fff;
    margin:2rem 0;
    transition: .2s;
}
.home .box-container .box h3{
    font-size: 2rem;
    color:var(--pink);
    transition: .2s;
}
.home .box-container .box p{
    font-size:2.7rem;
    padding:2rem 2.5rem;
    color:var(--pink);
 
    border-right: solid 3px black;

    width:0;
    overflow: hidden;
    white-space: nowrap;

    animation:type 2s steps(28) 1s forwards,
    blink 0.5s steps(1) infinite;
}
@keyframes type{
    to{width:24ch}
}
@keyframes blink{
    from{border-color:transparent}
    50%{border-color:black}
    to{border-color: transparent}
}
.home .box-container .box:hover h3{
    color:var(--violet);
}
.home::before{
    content:'';
    position:absolute;
    bottom:-25rem;left:50%;
    transform: translateX(-50%);
    border-top:70vh solid #fff;
    width:120%;
    border-radius:50%;
    z-index:-1;
}
   
.about .row{
    display:flex;
    justify-content: center;
    align-items: center;
}
.about .row .image img{
    height:70vh;
    width:40vw;
    margin:2rem;
}
.about .row .content{
    padding-left: 5rem;
}
.about .row .content p{
    font-size:1.6rem;
    color:#999;
    padding:1rem 0;
}
.about .row .content h2{
    font-size:1.6rem;
    color:#5c5a5a;
    padding:1rem 0;
}
.about .row .content li a{
    font-size:1.6rem;
    color:var(--pink);
    padding:1rem 0 ;
}
.about .row .content ul li a:hover{
    color:var(--violet);
}
.event{
    background: #f9f9f9;
}
.event .card-container{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}
.event .card-container .card{
    padding:2rem;
    margin:1rem;
    background: #fff;
    text-align: center;
    width:28rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
}
.event .card-container .card img{
    height:30rem;
    width:100%;
    object-fit: cover;
}
.event .card-container .card h3{
color: var(--pink);
font-size: 2rem;
padding: 5rem 0;
}
.event .card-container .card p{
    font-size: 1.7rem;
    color:#666;
   
}
.join{
  background:#333;
 
}
.join .row{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
}
.join .row .image img{
 width:50vw;
 height:50vh;
 padding-left: 2rem;
 padding-right: 2rem;
}
.join .row .form-container{
    width:50%;
    padding-right: 6rem;
}
.join .row .form-container input,textarea{
    height:4rem;
    width:100%;
    background:#fff;
    border:none;
    border-radius: 5rem;
    padding:0 1rem;
    margin:1rem 0;
    color:var(--pink);
    font-size: 1.7rem;
    transition:.2s linear;
}
.join .row .form-container input:focus,textarea:focus{
  border:.2rem solid var(--pink);
}
.join .row .form-container textarea{
    height:20rem;
    border-radius: 1rem;
    padding:1rem;
    resize:none;
}
.join .row .form-container input[type="submit"]{
    width:17rem;
    background:var(--pink);
    color:#fff;
    cursor: pointer;
    font-size:2rem;
    transition: .2s;
}
.join .row .form-container input[type="submit"]:hover{
    background:none;
    color: var(--pink);
    border:.2rem solid var(--pink);
}
.foot{
    text-align: center;
}
.foot .icon{
 padding:3rem 0;
}
.foot .icon a{
    height:4.5rem;
    width:4.5rem;
    line-height: 4.3rem;
    text-align: center;
    /* border-radius: 50%; */
    color: var(--violet);
    /*border: 2rem solid var(--violet);*/
    font-size: 4.5rem;
    margin:0 .7rem;
    transition: .2s linear;
}
.foot .icon a:hover{
    color:#ec7bb9;
   /* background: var(--pink);*/
    border-color: var(--pink);
}
header .fa-times{
    transform:rotate(180deg);
    color:var(--violet);
    transition: .2s;
}
/*media queries*/
@media(max-width:768px){
    html{
        font-size: 55%;
    }
    header .fa-bars{
        display:block;
    }
    header .navbar{
        position:fixed;
        top:-100rem;left:0;
        width:100%;
        background:#fff;
        border-radius:1rem;
        opacity: 0;
        transition: .2s linear;
    }
    header .navbar ul{
        flex-flow:column;
        padding:2rem;
    }
    header .navbar ul li{
        margin:1rem 0;
        width:100%;
        text-align: center;
    }
    header .navbar ul li a{
        font-size: 2rem;
        display:block;
    }
    header .nav-toggle{
        top:11.5rem;
        opacity:1;
    }
    .home .content p{
        padding:1.5rem 2rem;
    }
    .home ::before{
        display:none;
    }
    .about .row{
        flex-flow:column-reverse;
    }
    .about .row .image img{
        height:60vh;
        width:90vw;
    }
    .about .row .content p{
        padding:0 2.5rem;
    }
    .about .row .content h3 a{
        padding:0 2.5rem;
    }
    .join .row{
        flex-flow: column;
    }
    .join .row .image img{
        height:50vh;
        width:90vw;
    }
    .join .row .form-container{
        width:90%;
        padding:0;
    }
}

